{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
ABOUT US
{% endblock title %}
{% block body %}
<!-- Page Header -->
			<div id="page-header">
				<!-- section background -->
				<div class="section-bg" style="background-image: url({% static 'img/background-2.jpg' %});"></div>
				<!-- /section background -->

				<!-- page header content -->
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="header-content">
								<h1>About Us</h1>
								<ul class="breadcrumb">
									<li><a href="{% url 'home' %}" target="_blank">Home</a></li>
									<li><a href="{% url 'donations' %}" target="_blank">Donate</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- /page header content -->
			</div>
			<!-- /Page Header -->
	<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- MAIN -->
					<main id="main" class="col-md-9">
						<!-- article -->
						<div class="article causes-details">
							<!-- article img -->
							<div class="article-img">
								<img src="{% static 'img/about01.jpg' %}" alt="">
							</div>
							<!-- article img -->

							<!-- causes progress -->
							<div class="clearfix">
								<div class="causes-progress">
									<div class="causes-progress-bar">
										<div style="width: 10%;">
											<span>5%</span>
										</div>
									</div>
									<div>
										<span class="causes-raised">Raised: <strong>20,000$</strong></span>
										<span class="causes-goal">Goal: <strong>100,000.000$</strong></span>
									</div>
								</div>
								<a href="{% url 'donations' %}" class="primary-button causes-donate" target="_blank">Donate Now</a>
							</div>
							<!-- /causes progress -->

							<!-- article content -->
							<div class="article-content">
								<!-- article title -->
								<h2 class="article-title">About and Causes of Hope For Single Mothers</h2>
								<!-- /article title -->

								<p>Hope For Single Mothers was founded in 2018, our main goal was and still lighting the path for single mothers in Tanzania. They are facing a lot and by themselves can't handle all these together. More especially raising and taking care of the family, meanwhile they have no money or skills to help them out in their daily basis.</p>
								<p>Our overall goal is to help single mothers to know their rights , empower and build women to be very creative in enterpreneurship, leadership and gender equality. Our core values are: DIGNITY, UNITY IN DIVERSITY, TEAMWORK, CARING, ACCOUNTABILITY AND INTEGRITY.</p>
							</div>
							<!-- /article content -->

						
						
						</div>
						<!-- /article -->
					</main>
					<!-- /MAIN -->

					<!-- ASIDE -->
					<aside id="aside" class="col-md-3">

						


					</aside>
					<!-- /ASIDE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock body %}