{% extends 'base.html' %}
{% load static %}
{% block title %}
Hope For Single Mothers
{% endblock title %}
{% block body %}
<!-- HOME OWL -->
		<div id="home-owl" class="owl-carousel owl-theme">
			<!-- home item -->
			<div class="home-item">
				<!-- section background -->
				<div class="section-bg" style="background-image: url({% static 'img/background-1.jpg' %});"></div>
				<!-- /section background -->

				<!-- home content -->
				<div class="home">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<div class="home-content">
									<h1 style="color: green;">Save Single Mothers</h1>
									<p class="lead" style="color: black;">Join us in helping single mothers realize their full potential<br>
									                                       and engage fully in transformation of their communities<br>
																		   in order to achieve empowerment.</p>
									<a href="{% url 'about' %}" class="primary-button" target="_blank	">View Causes</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /home content -->
			</div>
			<!-- /home item -->

			<!-- home item -->
			<div class="home-item">
				<!-- Background Image -->
				<div class="section-bg" style="background-image: url({% static 'img/background-2.jpg' %});"></div>
				<!-- /Background Image -->

				<!-- home content -->
				<div class="home">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<div class="home-content">
									<h1>Become A Volunteer</h1>
									<p class="lead" style="color: black;">"Little by little a bird builds it's nest".<br>
													This saying can help Single Mothers by giving our total support to them and<br>
													empowering them financially, psychologically and educationally.</p>
									<a href="{% url 'donations' %}" class="primary-button" target="_blank">Join Us Now!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /home content -->
			</div>
			<!-- /home item -->
		</div>
		<!-- /HOME OWL -->
	</header>
	<!-- /HEADER -->

	<!-- ABOUT -->
	<div id="about" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- about content -->
				<div class="col-md-5">
					<div class="section-title">
						<h2 class="title">Welcome to HFSM</h2>
						<p class="sub-title">Hope For Single Mothers is non-profit organization that helps on empowering Single Mothers in Tanzania.</p>
					</div>
					<div class="about-content">
						<p>Our overall goal is to help single mothers to know their rights , empower and build women to be very creative in enterpreneurship, leadership and gender equality.</p>
						<a href="{% url 'about' %}" class="primary-button" target="_blank">Read More</a>
					</div>
				</div>
				<!-- /about content -->

				<!-- about video -->
				<div class="col-md-offset-1 col-md-6">
					
							<i class="play-icon fa fa-play"></i>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/6Kb0qtVtO3w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</a>
				</div>
				<!-- /about video -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /ABOUT -->

	<!-- NUMBERS -->
	<div id="numbers" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- number -->
				<div class="col-md-3 col-sm-6">
					<div class="number">
						<i class="fa fa-smile-o"></i>
						<h3>100</h3>
						<span>Donors</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-md-3 col-sm-6">
					<div class="number">
						<i class="fa fa-heartbeat"></i>
						<h3>30</h3>
						<span>Single Mothers Saved</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-md-3 col-sm-6">
					<div class="number">
						<i class="fa fa-money"></i>
						<h3>20k$</h3>
						<span>Donated</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-md-3 col-sm-6">
					<div class="number">
						<i class="fa fa-handshake-o"></i>
						<h3>10</h3>
						<span>Volunteers</span>
					</div>
				</div>
				<!-- /number -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /NUMBERS -->

	<!-- CAUSESS -->
	<div id="causes" class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

				<!-- section title -->
				<div class="col-md-8 col-md-offset-2">
					<div class="section-title text-center">
						<h2 class="title">Our Causes</h2>
						<p class="sub-title">Our overall goal is to help single mothers to know their rights , empower and build women to be very creative in enterpreneurship, leadership and gender equality.</p>
					</div>
				</div>
        </div>
        </div>
        </div>
				<!-- section title -->
<!-- CTA -->

	<div id="cta" class="section">
		<!-- background section -->
		<div class="section-bg" style="background-image: url({% static 'img/background-1.jpg' %});" data-stellar-background-ratio="0.5"></div>
		<!-- /background section -->

		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- cta content -->
				<div class="col-md-offset-2 col-md-8">
					<div class="cta-content text-center">
						<h1 style="color: black;">Become A Volunteer</h1>
						<p class="lead" style="color: rgb(7, 138, 42); font-weight: 600;">There are so many single mothers in Tanzania, we can't help help by ourselves, your donations matter to us give a hand to account on their empowerment.</p>
						<a href="{% url 'donations' %}" class="primary-button" target="_blank">Join Us Now!</a>
					</div>
				</div>
				<!-- /cta content -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /CTA -->
    <div style="font-size: 18pt; padding-left: 45%; color: black; font-weight: bold;">TESTIMONIALS</div>
    <!-- TESTIMONIAL -->
	<div id="testimonial" class="section">
		<!-- background section -->
		<div class="section-bg" style="background-image: url({% static 'img/background-2.jpg' %});" data-stellar-background-ratio="0.5"></div>
		<!-- /background section -->

		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- Testimonial owl -->
				<div class="col-md-12">
					<div id="testimonial-owl" class="owl-carousel owl-theme">
						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<div class="testimonial-img">
									<img src="{% static 'img/hope.jpg' %}" alt="">
								</div>
								<h3>Hope Winfrey</h3>
								<span>Volunteer</span>
							</div>
							<div class="testimonial-quote">
								<blockquote>
									<p>I first came to Tanzania and was touched on how single mothers suffer. I promissed to myself to help them out. You can to.</p>
								</blockquote>
							</div>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<div class="testimonial-img">
									<img src="{% static 'img/chris.jpeg' %}" alt="">
								</div>
								<h3>Chris Barnet</h3>
								<span>Volunteer</span>
							</div>
							<div class="testimonial-quote">
								<blockquote>
									<p>I once met Hope and pinned me on how project of empowering single mothers and told me on the problems that they are facing and I decided to volunteer.</p>
								</blockquote>
							</div>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<div class="testimonial-img">
									<img src="{% static 'img/mark.jpeg' %}" alt="">
								</div>
								<h3>Mark Tuke</h3>
								<span>Volunteer</span>
							</div>
							<div class="testimonial-quote">
								<blockquote>
									<p>I was raised by a single mother back in Canada. But the life was good because she was empowered, in here it's differen't that's why I keep on volunteering.</p>
								</blockquote>
							</div>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<div class="testimonial-img">
									<img src="{% static 'img/avatar-2.jpg' %}" alt="">
								</div>
								<h3>John Doe</h3>
								<span>Volunteer</span>
							</div>
							<div class="testimonial-quote">
								<blockquote>
									<p>Actually I took a vacation in Tanzania and I saw couple of single mothers suffering. I decided to help them.</p>
								</blockquote>
							</div>
						</div>
						<!-- /testimonial -->
					</div>
				</div>
				<!-- /Testimonial owl -->
			</div>
			<!-- /Row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /TESTIMONIAL -->

{% endblock body %}